beautifulsoup4==4.12.2
cachetools==5.3.1
certifi==2023.7.22
charset-normalizer==3.3.0
customtkinter==5.2.1
darkdetect==0.8.0
et-xmlfile==1.1.0
filelock==3.12.4
fonttools==4.25.0
fsspec==2023.10.0
google==3.0.0
google-api-core==2.12.0
google-auth==2.23.3
google-cloud-vision==3.4.5
googleapis-common-protos==1.61.0
grpcio==1.59.0
grpcio-status==1.59.0
idna==3.4
Jinja2==3.1.2
MarkupSafe==2.1.3
mpmath==1.3.0
munkres==1.1.4
networkx>=2.8,<3.0
numpy==1.19.5
opencv-python==4.5.1.48  # or whatever version you are using
pytesseract==0.3.7
openpyxl==3.1.2
pandas==1.3.3  # Example version, adjust as needed
Pillow==8.3.1  # Example version, adjust as needed
protobuf==4.24.4
requests==2.31.0
rsa==4.9
scipy==1.7.1  # Example version, adjust as needed
seaborn==0.11.2  # Example version, adjust as needed
sympy==1.12
torch==2.1.0
urllib3==2.0.7
tqdm==4.62.0
transformers==4.15.0

